name: Swift

on:
  push:
    branches: [ "main" ]
    
jobs:
  iOS16: 
    runs-on: macos-latest
    env:
      SCHEME: SwiftNetzy
      DESTINATION: platform=iOS Simulator,name=iPhone 13 Pro,OS=16.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Select Xcode Verson
        run: sudo xcode-select -s '/Applications/Xcode_14.1.app//Contents/Developer'
      - name: Set Scheme and Build Xcode 
        run:  xcodebuild test -scheme "$SCHEME" \
              -destination "latform=iOS Simulator,name=iPhone 14 Pro,OS=16.1" \
              CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO
          
  iOS13: 
    runs-on: macos-latest
    env:
      SCHEME: SwiftNetzy
      DESTINATION: platform=iOS Simulator,name=iPhone 13 Pro,OS=13.0

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Select Xcode Verson
        run: sudo xcode-select -s '/Applications/Xcode_14.1.app//Contents/Developer'
      - name: Set Scheme and Build Xcode 
        run:  xcodebuild test -scheme "$SCHEME" \
              -destination "$DESTINATION" \
              CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO